* {
	line-height: 1;
	box-sizing: border-box;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	max-width: 1170px;

}

/* !header */
.header .container {
	display: flex;
	max-height: 80px;

}

.header .container img {
	margin-right: 12px;
}

.header .container span {
	line-height: 80px;
	font-family: 'Quicksand';
	font-weight: 500;
	font-size: 35px;
	color: #16133D;

}

/* !Main */
main {
	padding: 100px 0;
}

.title span {
	margin-bottom: 15px;
	display: inline-block;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 16px;
	color: #7690A8;
	text-transform: uppercase;
}

.title h1 {
	margin-bottom: 40px;
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.2px;
	color: #16133D;
}

.card__list {
	display: flex;
	justify-content: space-between;

}

.card__list li {
	padding: 40px;
	max-width: 370px;
	min-height: 340px;
}



.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	margin-bottom: 40px;
}

.blue,
.green {
	width: 38px;
	height: 36px;
}

.green {
	display: none;
}




li {
	border: solid 1px transparent;
	cursor: pointer;
}

.card__list li:hover {
	border: solid 1px #3DB370;
	border-radius: 8px;
}

.card__list li:hover .green {
	display: block;
}

.card__list li:hover .blue {
	display: none;
}

.card__list li h2 {
	margin-bottom: 15px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 21px;
	letter-spacing: 0.2px;
	color: #16133D;
}

.card__list li p {
	margin-bottom: 30px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #16133D;
}

.card__list li a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #3DB370;
}

/* !Footer */

.footer {
	max-height: 100vh;
	padding: 40px 0;
	background-color: #16133D;
}

.footer .container div {
	display: flex;
	margin-bottom: 40px;
}

.footer img {
	margin-right: 13px;
}

.footer span {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 35px;
	color: #FFFFFF;

}


.link-list {
	display: flex;
}

.link-list li {
	line-height: 46px;
	text-align: center;
	width: 38px;
	height: 38px;
	background-color: #fff;
	border-radius: 8px;
	margin-right: 10px;
}

.footer-icon {
	width: 20px;
	height: 20px;
}

.link-list li:hover .footer-icon {
	fill: #3DB370;
}

@media only screen and (max-width: 1220px) {
	.container {
		padding: 0 20px;
	}

	main {
		padding: 50px 0;
	}

	.title span {
		display: block;
		margin-bottom: 15px;
		font-size: 14px;
		text-align: center;
	}

	.title h1 {
		margin-bottom: 40px;
		font-size: 34px;
		line-height: 26px;
		text-align: center;

	}

	.card__list {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 30px;
	}

	.card__list li {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 40px;
		height: 340px;
		margin-bottom: 30px;

	}

	.card__list li:last-of-type {
		margin-bottom: 0;
	}




}

@media only screen and (max-width: 670px) {
	.container {
		padding: 0 20px;
	}

	.card__list {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.card__list li {
		max-width: 300px;
		height: 300px;

	}

	.blue {
		left: 42.3%;
	}

}